services:
  - type: web
    name: backend-springboot
    env: docker
    plan: free
    branch: featureDespliegueBack
    autoDeploy: true
    healthCheckPath: /actuator/health
    envVars:
      - key: MYSQL_HOST
        sync: false
      - key: MYSQL_PORT
        sync: false
      - key: MYSQL_DATABASE
        sync: false
      - key: MYSQL_USER
        sync: false
      - key: MYSQL_PASSWORD
        sync: false
      - key: PORT
        value: 8080
